# Own table only. Never flush the Kubernetes/Calico ruleset.
add table inet hibana
flush table inet hibana
table inet hibana {
  chain input {
    type filter hook input priority -10; policy drop;
    iifname "lo" accept
    ct state established,related accept
    ct state invalid drop
    ip protocol icmp accept
    meta l4proto ipv6-icmp accept
    udp sport 67 udp dport 68 accept
    ip saddr { {{ groups['all'] | map('extract', hostvars, 'node_ip') | join(', ') }} } accept
    ip saddr {{ pod_cidr }} accept
    ip saddr { {{ ssh_source_cidrs | join(', ') }} } tcp dport 22 accept
{% if inventory_hostname in groups['control_plane'] and cd_actions_ssh_port | default(0) | int > 0 %}
    tcp dport {{ cd_actions_ssh_port }} accept
{% endif %}
{% if inventory_hostname in groups['management'] %}
    tcp dport { 80, 443 } accept
{% endif %}
  }
}
